<!DOCTYPE html>
<html lang="en">
  <footer class="text-center text-white text-lg-start" style="background-color: #0a4275;">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <p>
      &copy; Copyright 2022 : PetLife
    </p>
  </footer>
  <body></body>
</html>