<!DOCTYPE html>
<html lang="en">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0a4275;">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="TODO">Home</a>
        </li>
        <!-- STRETCH GOAL: Profile
        <li class="nav-item">
            <a href="">Profile</a>
        </li>
        -->
        <li class="nav-item">
            <a href="TODO">Log Out</a>
        </li>
      </ul>
    </nav>
  </header>
</html>