<!DOCTYPE html>
<html lang="en">
    <li class="list-group-item list-group-item-action">
        Post 1
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftownsquare.media%2Fsite%2F40%2Ffiles%2F2017%2F03%2FDog-.jpg%3Fw%3D1200%26h%3D0%26zc%3D1%26s%3D0%26a%3Dt%26q%3D89&f=1&nofb=1&ipt=e9d5a8838caab06fb2de48a4fac120ccc93763fd86215fab957bade22d0432fa&ipo=images" width="500">
    </li>
</html>