<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main style="position: absolute; top: 3.9rem; bottom: 4rem">
  <div class="container" style="display: flex; flex-direction: row; padding-right: 0; margin-left: 5rem;">
    <div class="container">
      <!-- the index will be less than posts.length. This will render all the posts pulled from the database. -->
      <% for (let index = 0; index < 4; index++) {%>
        <ul style="z-index: 1;">
          <%- include ('../partials/post') %>
        </ul>
        <hr class="style1">
      <% }%>
    </div>
    <ul class="list-group" style="position: fixed; right: 0; margin-right: 5rem;">
      <a href="/new_post" class="list-group-item list-group-item-action">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
        Post
      </a>
      <a href="/profile/friends" class="list-group-item list-group-item-action">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
        </svg>
        Friends
      </a>
    </ul>
  </div>
</main>

<%- include ('../partials/footer') %>
