<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main style="position: absolute; top: 3.9rem; bottom: 4rem">
  <div class="container" style="display: flex; flex-direction: row; padding-right: 0; margin-left: 5rem;">
    <div class="container">
      <!-- the index will be less than posts.length. This will render all the posts pulled from the database. -->
      <% for (let index = 0; index < 4; index++) {%>
        <ul style="z-index: 1;">
          <%- include ('../partials/post') %>
        </ul>
        <hr class="style1">
      <% }%>
    </div>
    <ul class="list-group" style="position: fixed; right: 0; bottom: 4.5rem; margin-right: 1rem; margin-top: 1rem;">
      <a href="/new_post">
        <svg xmlns="http://www.w3.org/2000/svg" width="56" height="56" fill="#0a4275" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
        </svg>
      </a>
    </ul>
  </div>
</main>

<%- include ('../partials/footer') %>
