<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1><span class="badge bg-primary"></span><p class="fst-italic"></p>New Post</h1>
    <hr>

    <form action="/upload" method ="POST" enctype="multipart/form-data">

        <label for="exampleFormControlFile1">Image (file input)</label><br>
        <input type="file" class="form-control-file" name="image_file" id="exampleFormControlFile1"><br><br>


        <input type="submit" class="btn btn-primary btn-block mb-4" value="Create Post"><br>
        <hr>
        <a href="/home">Back to home</a>
      </form>
  </div>
</main>

<%- include ('../partials/footer') %>